

    <div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <main class="detail-book-lost">
        {{#with form}}
            <div class="detail-book-return__id">
                <h5>Mã phiếu: {{maphieumatsach}}</h5>
            </div>
            <div class="detail-book-lost__title">
                <h2>XEM THÔNG TIN PHIẾU GHI NHẬN MẤT SÁCH</h2>
            </div>
            <div class="detail-book-lost__form">
                <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <div class="form-group">
                                    <label>Mã độc giả:</label>
                                    <input readonly type="text" class="form-control" value="{{madocgia}}" autocomplete="false" >
                                </div>
                                <div class="form-group">
                                    <label >Tên sách:</label>
                                    <input readonly type="text" class="form-control" value="{{lostbook}}" autocomplete="false" >
                                </div>
                                <div class="form-group">
                                    <label >Ngày ghi nhận:</label>
                                    <input readonly type="text" class="form-control" value="{{ngayghi}}" autocomplete="false" >
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="form-group">
                                    <label >Tên độc giả:</label>
                                    <input readonly  type="text" value="{{readername}}"class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Tiền phạt:</label>
                                    <input readonly type="text" class="form-control" value="{{tienphat}} vnđ"  autocomplete="false" >
                                </div>
                                <div class="form-group">
                                    <label>Người ghi nhận:</label>
                                    <input readonly type="text" class="form-control" value="{{nguoighi}}" readonly autocomplete="false" >
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 order-first order-lg-last text-center">
                                <label style="text-align: center;">Mã sách: {{masach}}</label>
                                <img class="user-avatar" id="user-avatar" src="{{lostbookimg}}" alt="">
                            </div>
                        </div>
                    <form id="delete-book-lost-form"></form>
                    <button type="submit" form="delete-book-lost-form" class="btn mx-auto">Xóa</button>
                </div>
            </div>
        {{/with}}
    </main>
