<div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <main class="all-fine-form text-center text-sm-left d-flex justify-content-center flex-column">
        <div class="all-fine-form__title">
            <h2>DANH SÁCH PHIẾU THU TIỀN PHẠT</h2>
        </div>
        <div class="all-fine-form__search">
            <form action="" class="container">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <div class="form-group row">
                            <label for="user-id" class="col-12 col-sm-4 col-form-label">Mã phiếu: </label>
                            <div class="col-12 col-sm-8 input-wrapper">
                                <div class="input-wrapper">
                                    <input type="text" id="user-id" name="userId" class="form-control">
                                    <button type="submit">
                                        <img src="/images/librarian/search.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <div class="form-group row">
                            <label for="fullname" class="col-12 col-sm-4 col-form-label">Tên độc giả: </label>
                            <div class="col-12 col-sm-8">
                                <div class="input-wrapper">
                                    <input type="text" id="fullname" name="fullname" class="form-control">
                                    <button type="submit">
                                        <img src="/images/librarian/search.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group row">
                            <label for="user-id" class="col-12 col-sm-4 col-form-label">Mã độc giả: </label>
                            <div class="col-12 col-sm-8 input-wrapper">
                                <div class="input-wrapper">
                                    <input type="text" id="user-id" name="userId" class="form-control">
                                    <button type="submit">
                                        <img src="/images/librarian/search.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group row">
                            <label for="fullname" class="col-12 col-sm-4 col-form-label">Tên độc giả </label>
                            <div class="col-12 col-sm-8">
                                <div class="input-wrapper">
                                    <input type="text" id="fullname" name="fullname" class="form-control">
                                    <button type="submit">
                                        <img src="/images/librarian/search.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="fine-form">
            {{#each forms}}
                <div class="fine-form__card">
                    <div class="fine-form__card__title">
                        <h4>Mã phiếu: {{this.maphieuthu}}</h4>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <span>Mã độc giả: {{this.madocgia}}</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <span>Tên độc giả: {{this.docgia}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <span>Tiền nợ: {{this.tienno}}</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <span>Số tiền thu: {{this.tienthu}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <span>Còn lại: {{this.conlai}}</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <span>Người thu: {{this.nguoithu}}</span>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-center fine-form__card__action">
                        <form action="/cashier/penalty-form/delete/{{this.maphieuthu}}" id="delete-fine-form-{{this.maphieuthu}}"></form>
                        <button type="submit" form="delete-fine-form-{{this.maphieuthu}}" class="d-flex flex-row align-items-center mr-5">
                            <img src="/images/librarian/delete-user.png" alt="">
                            <span>Xóa</span>
                        </button>
                        <a href="/cashier/penalty-form/print/{{this.maphieuthu}}">
                            <button class="d-flex flex-row align-items-center">
                                <img src="/images/librarian/print-user.png" alt="">
                                <span>In phiếu</span>
                            </button>
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>
        
        <div class="d-flex flex-row justify-content-between w-100 mb-4" style="max-width: 90vw; z-index: 1">
            <a href="/cashier/penalty-form/add"><button class="btn btn-report-book-borrow">Thêm</button></a>
            {{#if paginationArray}}
                <form action="/cashier/penalty-form" method="get">
                    <div class="pagination">
                        <div class="pagination__item pagination__item--prev">
                            <input onchange='this.form.submit();' style="display: none;" id="page-prev" value="{{prevPage}}" type="radio" name="page"/>
                            <label for="page-prev"  class="my-page-button"><i class="fas fa-angle-left"></i></label>
                        </div>
                            {{#each paginationArray }}  
                            {{#if this.isCurrent}}
                                <div class="pagination__item current">
                                    <input onchange='this.form.submit();' style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="page"/>
                                    <label for="page-{{this.page}}"  class="my-page-link my-current-page">{{this.page}}</label>
                                </div>
                            {{else}}
                                <div class="pagination__item">
                                    <input onchange='this.form.submit();' style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="page"/>
                                    <label for="page-{{this.page}}"  class="my-page-link">{{this.page}}</label>
                                </div>
                            {{/if}}
                        {{/each}}
                        <div class="pagination__item pagination__item--next">
                            <input onchange='this.form.submit();' style="display: none;" id="page-next" value="{{nextPage}}" type="radio" name="page"/>
                            <label for="page-next"  class="my-page-button"><i class="fas fa-angle-right"></i></label>
                        </div>
                    </div>
                </form>
            {{/if}}
            <button class="btn btn-report-book-borrow">Xuất báo cáo</button>
        </div>
    </main>