 <div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <button class="btn btn__add"><a href="/chairman/staff/add">Thêm nhân viên</a></button>
    <main class="all-staff text-center text-sm-left d-flex justify-content-center flex-column">
        <div class="all-staff__title">
            <h2>DANH SÁCH NHÂN VIÊN</h2>
        </div>
        <div class="all-staff__search">
            <form action="" class="container">
                <div class="row">
                    <div class="col-12 col-md-5 mb-3 mb-md-0">
                        <div class="form-group row">
                            <label for="staff-id" class="col-12 col-sm-4 col-form-label">Mã nhân viên: </label>
                            <div class="col-12 col-sm-8 input-wrapper">
                                <div class="input-wrapper">
                                    <input type="text" id="staff-id" name="staffId" class="form-control">
                                    <button type="submit">
                                        <img src="/images/ceo/search.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 mb-3 mb-md-0">
                        <div class="form-group row">
                            <label for="fullname" class="col-12 col-sm-4 col-form-label">Tên nhân viên: </label>
                            <div class="col-12 col-sm-8">
                                <div class="input-wrapper">
                                    <input type="text" id="fullname" name="fullname" class="form-control">
                                    <button type="submit">
                                        <img src="/images/ceo/search.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 mb-3 mb-md-0">
                        <div class="d-flex align-items-center" style="cursor: pointer;" data-toggle="modal" data-target="#advancedFilterModal">
                            <span>Tìm kiếm nâng cao</span>
                            <button type="button">
                                <img src="/images/ceo/filter.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="all-staff__container">
            {{#each staffs}}
                <div class="staff-card">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 col-sm-4">
                                        <div class="staff-card__avatar mx-auto mx-sm-0">
                                            {{!-- <img  src="/images/ceo/small-staff-1.png" alt=""> --}}
                                            <img  src="{{this.anhdaidien}}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-8">
                                        <div class="staff-card__info">
                                            <p><b>Mã nhân viên: {{this.manv}}</b></p>
                                            <p>Họ và tên: {{this.hoten}}</p>
                                            <p>Ngày sinh: {{this.dob}}</p>
                                            <p>Địa chỉ: {{this.diachi}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row h-100">
                                    <div class="col-12 col-sm-7">
                                        <div class="staff-card__info">
                                            <p>Tài khoản: {{this.username}}</p>
                                            <p>Bằng cấp: {{this.bangcap}}</p>
                                            <p>Bộ phận: {{this.bophan}}</p>
                                            <p>Chức vụ: {{this.chucvu}}</p>
                                            <p>Điện thoại: {{this.dienthoai}}</p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-5">
                                        <div class="d-flex flex-column justify-content-between staff-card__action">
                                            <a href="/chairman/staff/detail/{{this.manv}}">
                                                <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3 mb-sm-0">
                                                    <img src="/images/ceo/edit-staff.png" alt="">
                                                    <span style="color: black;">Chỉnh sửa</span>
                                                </div>
                                            </a>
                                            <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3 mb-sm-0">
                                                <img src="/images/ceo/delete-staff.png" alt="">
                                                <span>Xóa</span>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3 mb-sm-0">
                                                <img src="/images/ceo/print-staff.png" alt="">
                                                <span>In hồ sơ nhân viên</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="pagination">
			<form method="GET" action="/chairman/staff">
                {{#if paginationArray}}
                    <div class="pagination">
                        <div class="pagination__item--prev">
                            <input onchange='this.form.submit();' style="display: none;" id="page-prev" value="{{prevPage}}" type="radio" name="page"/>
                            <label for="page-prev" class="pagination__item"><i class="fas fa-angle-left"></i></label>
                        </div>
                        {{#each paginationArray}}  
                            {{#if this.isCurrent}}
                                <div>
                                    <input onchange='this.form.submit();' style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="page"/>
                                    <label for="page-{{this.page}}" class="pagination__item current">{{this.page}}</label>
                                </div>
                            {{else}}
                                <div>
                                    <input onchange='this.form.submit();' style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="page"/>
                                    <label for="page-{{this.page}}" class="pagination__item">{{this.page}}</label>
                                </div>
                            {{/if}}
                        {{/each}}
                        <div class="pagination__item--next">
                            <input onchange='this.form.submit();' style="display: none;" id="page-next" value="{{nextPage}}" type="radio" name="page"/>
                            <label for="page-next" class="pagination__item"><i class="fas fa-angle-right"></i></label>
                        </div>
                    </div>
                {{/if}}
            </form>
        </div>
    </main>
    <div class="modal fade staff-advance-filter" id="advancedFilterModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Bộ lọc</h4>
                    <form id="advancedFilterForm" class="container">
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="form-group row">
                                    <label for="modal-staff-id" class="col-12 col-md-4 col-form-label">Mã nhân viên: </label>
                                    <div class="col-12 col-md-8 input-wrapper">
                                        <input type="text" id="modal-staff-id" name="modalStaffId" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="modal-staff-phone" class="col-12 col-md-4 col-form-label">Điện thoại:</label>
                                    <div class="col-12 col-md-8 input-wrapper">
                                        <input type="number" id="modal-staff-phone" name="modalStaffPhone" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="modal-staff-dob" class="col-12 col-md-4 col-form-label">Ngày sinh: </label>
                                    <div class="col-12 col-md-8 input-wrapper">
                                        <input type="date" id="modal-staff-dob" name="modalStaffDOB" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="modal-staff-department" class="col-12 col-md-4 col-form-label">Bộ phận: </label>
                                    <div class="col-12 col-md-8 input-wrapper">
                                        <select name="modalStaffDepartment" class="form-control" id="modal-staff-department">
                                            <option value="1">Thủ thư</option>
                                            <option value="2">Thủ kho</option>
                                            <option value="3">Thủ quỹ</option>
                                            <option value="4">Ban giám đốc</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="form-group row">
                                    <label for="modal-staff-fullname" class="col-12 col-md-4 col-form-label">Tên nhân viên: </label>
                                    <div class="col-12 col-md-8 input-wrapper">
                                        <input type="text" id="modal-staff-fullname" name="modalStaffFullname" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="modal-staff-address" class="col-12 col-md-4 col-form-label">Địa chỉ: </label>
                                    <div class="col-12 col-md-8 input-wrapper">
                                        <input type="text" id="modal-staff-address" name="modalStaffAddress" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="modal-staff-certificate" class="col-12 col-md-4 col-form-label">Bằng cấp: </label>
                                    <div class="col-12 col-md-8 input-wrapper">
                                        <select name="modalStaffCertificate" class="form-control" id="modal-staff-certificate">
                                            <option value="1">Tú Tài</option>
                                            <option value="2">Trung Cấp</option>
                                            <option value="3">Cao Đẳng</option>
                                            <option value="4">Đại Học</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="modal-staff-position" class="col-12 col-md-4 col-form-label">Chức vụ: </label>
                                    <div class="col-12 col-md-8 input-wrapper">
                                        <select name="modalStaffPosition" class="form-control" id="modal-staff-position">
                                            <option value="1">Nhân Viên</option>
                                            <option value="2">Phó Phòng</option>
                                            <option value="3">Trưởng Phòng</option>
                                            <option value="4">Phó Giám Đốc</option>
                                            <option value="5">Giám Đốc</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <button type="submit" form="advancedFilterForm" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </div>
    </div>