<div class="site-bg">
    <div class="site-bg__curve"></div>
</div>
<main class="detail-book">
    <div class="detail-book__title">
        <h2>THÔNG TIN CHI TIẾT SÁCH</h2>
    </div>
    <div class="detail-book__form">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label >Tên sách:</label>
                        <input readonly type="text" class="form-control" value="{{book.tensach}}"autocomplete="false" >
                    </div>
                    <div class="form-group">
                        <label>Tác giả :</label>
                        <input readonly type="text" class="form-control"  value="{{book.tacgia}}"autocomplete="false" >
                    </div>
                    <div class="form-group">
                        <label>Năm xuất bản:</label>
                        <input readonly type="text" class="form-control"  value="{{book.namxuatban}}"autocomplete="false" >
                    </div>
                    <div class="form-group">
                        <label>Trị giá: </label>
                        <input readonly type="text" class="form-control" value="{{book.trigia}}"autocomplete="false" >
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label >Thể loại: </label>
                        <input readonly  type="text" value="{{book.theloai}}"class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label >Nhà xuất bản:  </label>
                        <input readonly  type="text"  value="{{book.nhaxuatban}}"class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label >Ngày nhập:</label>
                        <input readonly type="text" class="form-control" value="{{book.ngaynhap}}" autocomplete="false" >
                    </div>
                    <div class="form-group">
                        <label >Người tiếp nhận:</label>
                        <input readonly type="date" class="form-control" value="{{book.nguoitiepnhan}}" readonly autocomplete="false" >
                    </div>
                </div>
                <div class="col-12 col-lg-4 order-first order-lg-last text-center">
                    <label style="text-align: center;">Mã sách: {{book.masach}}</label>
                    <img class="user-avatar" id="user-avatar" src="{{book.anhbia}}" alt="">
                </div>
            </div>
            <button type="button" class="btn mx-auto">In thông tin sách</button>
        </div>
    </div>
</main>
