    <div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <main class="edit-liquidation">
        <div class="edit-liquidation__id">
            <h5>Mã phiếu: {{thanhly.mathanhly}}</h5>
        </div>
        <div class="edit-liquidation__title">
            <h2>THANH LÝ SÁCH</h2>
        </div>
        <form class="edit-liquidation__form">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label >Họ tên người thanh lý:</label>
                            <input type="text" class="form-control" readonly autocomplete="false" value="{{thanhly.tennguoithanhly}}">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label >Mã người thanh lý:</label>
                            <input type="text" class="form-control" readonly autocomplete="false" value="{{thanhly.nguoithanhly}}" >
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label for="created-at">Ngày thanh lý: </label>
                            <input type="text" readonly class="form-control" autocomplete="false" value="{{thanhly.ngaythanhly}}" >
                        </div>
                    </div>
                </div>
                <div class="edit-liquidation__title edit-liquidation__title--sub">
                    <h2>DANH SÁCH SÁCH THANH LÝ</h2>
                </div>
                
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã sách</th>
                                <th scope="col">Tên sách</th>
                                <th scope="col">Lý do thanh lý</th>
                            </tr>
                        </thead>
                        <tbody id="book-table">
                            {{#each books}}
                                <tr >
                                    <th scope="row" class="row-no">{{this.no}}</th>
                                <td>
                                    <input  class="form-control" type="text" readonly value="{{this.masach}}">
                                </td>
                                <td>
                                    <input class="form-control" readonly type="text"  value="{{this.tensach}}">
                                </td>
                                <td>
                                    <input class="form-control input-liquidation"  type="text" readonly value="{{this.lydothanhly}}">
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                    
                </div>
                <div class="row d-flex flex-row justify-content-around">
                    <a href="/stockkeeper/liquidation-book/edit/{{thanhly.mathanhly}}">
                        <button type="button" class="btn">Sửa phiếu</button>
                    </a>
                    <button class="btn mx-0">In danh sách</button>
                </div>
            </div>
        </form>
    </main>
