 <div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    
    <main class="list-liquidation">
        <div class="list-liquidation__title">
            <h2>Danh sách thanh lý</h2>
        </div>
        <form class="list-liquidation__search">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-group row">                            
                            <label for="form-id" class="col-12 col-md-2 col-sm-4 col-form-label">Mã danh sách: </label>
                            <div class="col-12 col-md-10 col-sm-8 input-wrapper">
                                <div class="input-wrapper">
                                    <input type="text" id="form-id" name="formId" class="form-control">
                                    <button type="submit">
                                        <img src="/images/librarian/search.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group row">                            
                            <label for="create-at" class="col-12 col-sm-4 col-form-label">Ngày thanh lý: </label>
                            <div class="col-12 col-sm-8 input-wrapper">
                                <div class="input-wrapper">
                                    <input type="date" id="create-at" name="createAt" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group row">      
                            <label for="user-id" class="col-12 col-sm-4 col-form-label">Người thanh lý: </label>
                            <div class="col-12 col-sm-8 input-wrapper">
                                <div class="input-wrapper">
                                    <input type="text" id="user-id" name="userId" class="form-control">
                                    <button type="submit">
                                        <img src="/images/librarian/search.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-borderless" style="border-collapse: unset;">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Mã danh sách</th>
                        <th scope="col">Ngày thanh lý</th>
                        <th scope="col">Mã người thanh lý</th>
                        <th scope="col">Người thanh lý</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                         <tr class="liquidation-item">
                            <td>{{this.No}}</td>
                            <td>
                                <span>{{this.mathanhly}}</span>
                            </td>
                            <td>
                                <span>{{this.ngaythanhly}}</span>
                            </td>
                            <td>
                                <span>{{this.nguoithanhly}}</span>
                            </td>
                            <td class="td-near-last-child">
                                <span>{{this.tennguoithanhly}}</span>
                            </td>
                            <td style="display: none;">
                                <a href="/stockkeeper/liquidation-book/detail/{{this.mathanhly}}"></a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </main>
    <div class="d-flex flex-row justify-content-between w-100 mb-4" style="max-width: 90vw; z-index: 1">
        <a href="/stockkeeper/liquidation-book/add" class="btn btn-liquidation">Thêm</a>
        {{#if paginationArray}}
            <form action="/stockkeeper/liquidation-book" method="get">
                <div class="pagination">
                    <div class="pagination__item pagination__item--prev">
                        <input onchange='this.form.submit();' style="display: none;" id="page-prev" value="{{prevPage}}" type="radio" name="page"/>
                        <label for="page-prev"  class="my-page-button"><i class="fas fa-angle-left"></i></label>
                    </div>
                     {{#each paginationArray }}  
                        {{#if this.isCurrent}}
                            <div class="pagination__item current">
                                <input onchange='this.form.submit();' style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="page"/>
                                <label for="page-{{this.page}}"  class="my-page-link my-current-page">{{this.page}}</label>
                            </div>
                        {{else}}
                            <div class="pagination__item">
                                <input onchange='this.form.submit();' style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="page"/>
                                <label for="page-{{this.page}}"  class="my-page-link">{{this.page}}</label>
                            </div>
                        {{/if}}
                    {{/each}}
                    <div class="pagination__item pagination__item--next">
                        <input onchange='this.form.submit();' style="display: none;" id="page-next" value="{{nextPage}}" type="radio" name="page"/>
                        <label for="page-next"  class="my-page-button"><i class="fas fa-angle-right"></i></label>
                    </div>
                </div>
            </form>
        {{/if}}
        <button class="btn btn-liquidation">Xuất báo cáo</button>
    </div>
   