    <div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <main class="edit-user">
        <div class="edit-user__title">
            <h2>Thẻ độc giả</h2>
        </div>
        <div class="edit-user__form">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label >Họ tên:</label>
                            <input readonly type="text" class="form-control" value="{{user.hoten}}"autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label>Ngày sinh:</label>
                            <input readonly type="text" class="form-control" value="{{user.ngaysinh}}" autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label >Email:</label>
                            <input readonly type="text" class="form-control" value="{{user.email}}" autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label >Người lập thẻ:</label>
                            <input readonly type="text" class="form-control" value="{{user.nguoilapthe}}"autocomplete="false" >
                        </div>
                       
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label >Loại độc giả</label>
                            <input readonly type="text" value="{{usre.loaidocgia}}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ:</label>
                            <input readonly type="text" class="form-control" value="{{user.diachi}}" autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label >Ngày lập thẻ:</label>
                            <input readonly type="text" class="form-control" value="{{ngaylapthe}}" readonly autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 order-first order-lg-last">
                        <label>Mã độc giả: {{user.madocgia}}</label>
                        <img class="user-avatar" id="user-avatar" src="{{user.anhdaidien}}" alt="">
                    </div>
                </div>
                <button type="button" class="btn mx-auto">In thẻ độc giả</button>
            </div>
        </div>
    </main>